<section data-ng-controller="ApisController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Api</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="api.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="public_dns">Public DNS</label>
                    <div class="controls">
                        <input type="text" data-ng-model="api.public_dns" id="public_dns" class="form-control" placeholder="Public DNS" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="path">Path</label>
                    <div class="controls">
                        <input type="text" data-ng-model="api.path" id="path" class="form-control" placeholder="Path" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="target_url ">Target url</label>
                    <div class="controls">
                        <input type="text" data-ng-model="api.target_url " id="target_url " class="form-control" placeholder="Target url" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="api.strip_path" value="">
                        Strip Path
                      </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default btn-sm">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>