<section data-ng-controller="ApisController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="api.name"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary btn-sm" href="/#!/apis/{{api.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i> Edit API
		</a>
		<a class="btn btn-success btn-sm" href="/#!/apis/{{api.id}}/plugins">
			<i class="fa fa-puzzle-piece"></i> View active plugins
		</a>
		<a class="btn btn-danger btn-sm" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i> Remove API
		</a>
	</div>
	<p class="clearfix">
		<table class="table table-striped">
			<tr>
				<th>Attribute</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>public_dns</td>
				<td>{{api.public_dns}}</td>
			</tr>
			<tr>
				<td>path</td>
				<td>{{api.path}}</td>
			</tr>
			<tr>
				<td>target_url</td>
				<td>{{api.target_url}}</td>
			</tr>
			<tr>
				<td>strip_path</td>
				<td>{{api.strip_path}}</td>
			</tr>
		</table>
	</p>
</section>
