<section class="col-md-6" data-ng-controller="ConsumersController" data-ng-init="listPluginByConsumer()">
	<div class="page-header">
		<h1>Active plugins of Consumer {{consumer.id}}</h1>
	</div>
	<div class="list-group">
        <li data-ng-repeat="plugin in plugins.data" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="plugin.name"></h4>
			<div class="pull-right">
				<a class="btn btn-danger btn-sm" data-ng-click="removePlugin(plugin);">
					<i class="glyphicon glyphicon-trash"></i> Remove plugin
				</a>
			</div>
			<p class="clearfix">
				<table class="table table-striped">
					<tr>
						<th>Attribute</th>
						<th>Value</th>
					</tr>
					<tr>
						<td>Api name</td>
						<td ng-repeat="api in apis.data | filter:{id: plugin.api_id}">
							<a href="/#!/apis/{{plugin.api_id}}">{{api.name}}</a>
						</td>
					</tr>
					<tr ng-repeat="(key, value) in plugin.value">
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</table>
			</p>
        </li>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!plugins.$resolved || plugins.data.length">
    	No active plugins found in the API, why don't you add one ?
    </div>
</section>
<section class="col-md-6" data-ng-controller="ConsumersController" data-ng-init="initPluginForm()">
	<div class="page-header">
		<h1>Add a plugin</h1>
	</div>
	<div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="createPlugin()" novalidate>
            <fieldset>
            	<div class="form-group">
                	<label class="control-label" for="name">Select the api</label>
	                <select ng-options="item as item.name for item in apis.data track by item.id" ng-model="api_id" id="plugin_name" class="form-control" required>
	                    <option value = "">Select</option>
	                </select>
                </div>
                <div class="form-group">
                	<label class="control-label" for="name">Select the plugin to configure</label>
	                <select ng-options="item as item.label for item in pluginAvailable track by item.name" ng-model="currentPlugin" id="plugin_name" class="form-control" required>
	                    <option value = "">Select</option>
	                </select>
                </div>
                <span plugin-form></span>
            </fieldset>
        </form>
    </div>
</section>