<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="JUNGLE" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source User Interface for <a href="http://getkong.org">KONG</a>
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="https://github.com/rsdevigo/jungle" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<div class="well">
		<h2>KONG Documentation</h2>
		<p>
			<ul>
				<li><a target="_blank" href="http://getkong.org/docs">KONG Documentation</a>
				</li>
				<li><a target="_blank" href="http://getkong.org/plugins">KONG PLugins</a>
				</li>
				<li><a target="_blank" href="http://http://getkong.org/community/">KONG Community</a>
				</li>
				<li><a target="_blank" href="https://github.com/Mashape/kong">Github</a>
				</li>
			</ul>
		</p>
	</div>
</section>